*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

header{
    background-image: url(./images/bg-header-desktop.png);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 200px;    
    
}

#img1{
    width: 100px;
    height: 100px;
         
}

/* main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */

.baslik1, .baslik3, .baslik6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 420px;
    margin: 50px;
   
}

.button1{
    background-color: hsl(171, 66%, 44%);
    color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
}

.button1:hover{
    box-shadow: 0px 1px 6px #808080;
}

.button2{
    background-color: hsl(233, 100%, 69%);
    color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
}

.button2:hover{
    box-shadow: 0px 1px 6px #808080;
}

h1, h3, h4{
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4{
    font-size: 24px;
}

p{
    color: hsl(201, 11%, 66%);
    margin: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

.baslik2{
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin: 50px;
}

.baslik4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: initial;
    align-items: center;
    text-align: center;
    margin: 50px;

}

.baslik5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: initial;
    align-items: center;
    text-align: center;
    margin: 50px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px; 
    margin: 10px 50px;
}

#img2{
    width: 50px;
    height: 50px;          
}

.footer1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 20px;
    margin: 100px;
}

a {
    color: hsl(201, 11%, 66%);
    text-decoration: none;
    margin: 5px;
}
a:hover{
    color: hsl(171, 66%, 44%);
    text-decoration: underline;
}
