*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 1440px; */
}

header{
    background-image: url(./images/bg-header-desktop.png);
    
}

/* h1{
    color: hsl(171, 66%, 44%);
}
h3{
    color: hsl(233, 100%, 69%);
}
h4{
    color: hsl(210, 10%, 33%);
}

p{
    color: hsl(201, 11%, 66%);
} */

